@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");

body {
  background-image: url("https://i.pinimg.com/originals/eb/51/5f/eb515fd0df911efff7d02f17cb2b9ddc.gif");
  background-size: cover;
  font-family: "Oswald", sans-serif;
}
.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin-top: 5px;
  margin-left: 64px;
  margin-right: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}
.perfil {
  display: flex;
}
.foto {
  border-radius: 100%;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulo {
  margin-left: 16px;
}
.titulo h1 {
  font-weight: 500;
  font-size: 40px;
}
.titulo h3 {
  margin-top: -25px;
  font-weight: 300;
  font-size: 24px;
}
.tema button {
  align-self: flex-end;
  background: #ecf4ff;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 16px;
  border-radius: 100px;
}
.projeto {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.link {
  color: #00008b;
  text-decoration: none;
}
.git {
  color: white;
  text-decoration: none;
}
.links {
  color: #1c1c1c;
  font-size: 17px;
  margin-left: -73px;
  text-decoration: none;
}
.proj {
  font-size: 25px;
  text-align: left;
  color: #1c1c1c;
}
.container2 {
  background: #ecf4ff;
  color: #1c1c1c;
  margin-top: 25px;
  margin-left: 64px;
  margin-right: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}
.linke {
  width: 130px;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  border: 2px black;
  color: white;
  background: #00a8ff;
}
.gith {
  width: 130px;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  border: 2px black;
  color: white;
  background: black;
}
.dark {
}
.dark .container {
  background: #333439;
}
.dark .titulo h1 {
  color: #ecf4ff;
}
.dark .titulo h3 {
  color: #ecf4ff;
}
.dark .tema button {
  background: #333439;
  color: #ecf4ff;
  border: 2px solid #f7f7f7;
}
.dark .container2 {
  background-color: #333439;
  color: #ecf4ff;
}
.dark .proj {
  color: #ecf4ff;
}
.dark .links {
  color: #ecf4ff;
}